.hemiwatch{
    background-color: rgb(29, 29, 29);
    padding: 10px;
    margin: 10px 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h3 {
    margin: 10px 0px;
}

h2 {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .hemiwatch {
        margin: 5px 50px;
    }

    h3 {
        font-size: 17px;
    }
    
    h2 {
        font-size: 15px;
    }
}   